# GUI
customtkinter
PyQt6

# AI & LLM
ollama
groq

# Automation & System
pyautogui
pygetwindow
psutil
pywin32
pynput

# Web & Network
requests
beautifulsoup4
feedparser
googlesearch-python

# API & Backend
fastapi
uvicorn
websockets
jinja2
python-multipart
chromadb

# Audio & TTS
edge-tts
pyttsx3

# Media & Vision
pygame
pillow
mediapipe
opencv-python
